/*
 * Author : Cedric-Antoine Ouellet
 * Date   : 2021/01/28
 */

@font-face {
  font-family: "roboto-thin";
  src: url("./fonts/Roboto-Thin.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, blue, dodgerblue, crimson);
  background-size: 400% 400%;
  animation: gradient 5s ease-in-out infinite;
}

body {
  color: white;
  font-family: "roboto-thin";
  letter-spacing: 0.1em;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

label,
input,
button {
  font-size: 1.5em;
}

form {
  margin-top: 1.5em;
  padding: 1.5em 2em;
}

input {
  color: red;
  outline: none;
}

input {
  font-family: "roboto-thin";
  padding: 1% 1%;
  color: white;
  margin-bottom: 1em;
  margin-top: 0.2em;
  background: none;
  border: 0.05em solid white;
  width: 15em;
}

button {
  margin-top: 2em;
  background: none;
  color: white;
  font-family: "roboto-thin";
  border: 0.05em solid white;
  padding: 0.2em 1.1em;
}

button:hover {
  cursor: pointer;
}

h1,
label,
#required {
  pointer-events: none;
}

#required {
  padding-top: 2em;
  font-family: "roboto-thin";
  font-weight: normal;
}

.item {
  margin-top: 1em;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 1.5em;
  }

  .item label {
    font-size: 1.2em;
  }

  button {
    font-size: 1.2em;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
